html {
	height: 100%;
	padding: 5%;
	font-family: 'Oswald', sans-serif;
}

a {
	text-decoration: none;
}

.search {
	border: 0px;
	width: 100%;
}

.glyphicon-map-marker {
	position: relative;
	right: 30px;
}

.image-upload {
	text-align: center;
}

.next, .back {
	background-color: transparent;
	border: none;
	position: relative;
}

.header, .footer {
	background-color: coral;
	width: 100%;
	padding: 5%;
	color: white;
	text-align: center;
}

.header {
	position: fixed;
	top: 0px;
}

.footer button {
	padding-right: 10%;
	padding-left: 10%;
}

.footer {
	position: fixed;
	bottom: 0px;
}