html {
	height: 100%;
	padding: 0px;
	font-family: 'Oswald', sans-serif;
}

body {
	padding: 0px;
	margin: 0px;
}

a {
	text-decoration: none;
}

.search {
	border: 0px;
	margin-left: 10px;
}

.image-upload {
	text-align: center;
}

.back, .next {
	background-color: transparent;
	border: none;
}

.back {
	float: left;
}

.next {
	float: right;
}

.header, .footer {
	background-color: coral;
	width: 100%;
	padding: 20px;
	color: white;
	text-align: center;
}

.footer {
	position: fixed;
	bottom: 0px;
}

.searchbox {
	width: 85%;
	text-align: left;
}

.search_bar_container {
	padding: 10px;
	padding-bottom: 3px;
}
